.body{
    display: flex;
}

.main {
    display: flex;
    gap: 45px

};

.btncontainer {
    display: flex;
    height: 200px;
    width: 400px;
    gap: 24px;
}

.button {
    width: 150px;
    height: 150px;
}